.body{
  background-color: white;
}
/* Header **/
header{
 background-color: whitesmoke;
}
.header{
  background-color: whitesmoke;
 }
footer{
  background-color: whitesmoke;
}
.footer{
  background-color: whitesmoke;
}
